.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #360831;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  canvas {
    min-width: 900px;
    height: 400px;
  }
  