<main class="mn" *ngFor="let val of details">
  <div class="d1">
    <img class="ib" src="{{ val.image }}" />
    <h1>{{ val.name }}</h1>
    <section class="desc">
      <p>
        {{ val.description }}
      </p>
    </section>
  </div>
  <div class="d2">
    <span class="sp1" *ngIf="val.age.years > 0">{{ val.age.years }} years</span>
    <span class="sp2" *ngIf="val.age.months !== 0">
      {{ val.age.months }} months</span
    >
    <span class="sp3" >{{ val.age.days }} days</span>
    <p>Commission Date: {{ val.day | date : "dd-MM-yyyy" }}</p>
    <p>Amount Rs.{{ val.amount }}</p>
    <p *ngIf="val.age.months == 0">Age: {{ val.age.days }} days</p>
    <p *ngIf="val.age.years == 0">
      Age: {{ val.age.months }} months {{ val.age.days }} days
    </p>
    <p *ngIf="val.age.years > 0">
      Age: {{ val.age.years }} years {{ val.age.months }} months
      {{ val.age.days }} days
    </p>
    <p>Status: active</p>
  </div>
  <div class="d3">
    <canvasjs-chart
      *ngIf="val.guarantee !== 'null'"
      [options]="chartOptions"
      [styles]="{ width: '80%', height: '170px' }"
    ></canvasjs-chart>
  </div>
</main>
