<ol>
    <li>1. One day one trad</li>
    <li>2. Must to be rich trad for thaj jeeth trads</li>
    <li>3. Must be usual with single down lines with minimum 3 candles in jeeth and thaj</li>
    <li>4. If tard more than one one week trad will be banned per trad</li>
    <li>5. If squeezed two months trad will be banned</li>
    <li>6. Must exist 3 min or more</li>
    <li>7. dont do extra large trads only small medium trads</li>
    <li>8. If fail one trad one more trad can be done</li>
    <li>9. Trad must be fit lined not heavy faty for jeeth thaj lima</li>
    <li>10. trad only after 11.am</li>
    <li>11. Trad only with One doller until 20 dollers</li>
    <li>12. Trad must be line up</li>
    <li>13. trad only riya taj lima jeeth</li>
    <li>14. fit large usual and able to tard sertificates must from fcb</li>
    <li>15. Must enter only if get right entrence</li>
    <li>16. Do 95% sure trads</li>
    <li>17. Trad must permission from director general</li>
    <li>18. Must read all rules once befor trading</li>
    <li>19. If you have pressure above 50% you are not eligble for trad</li>
    <li>20. Set time first</li>
    <li>22. Trad must need rectangle support not surcle</li>
    <li>
      23. If loos first trad dont trad in same paire even if get right entrence
    </li>
    <li>24. last time trad dont take</li>
    <li>25. maintaning 3 min is good</li>
    <li>25. fcb can terminate trads for vilations</li>
  </ol>
