<section class="cnt">
    <main class="lst2">
        <div
          (click)="goToDetails(data.id)"
          *ngFor="let data of commission; let i = index"
          [ngClass]="data.guarantee == 'null' ? 'as' : 'crd'"
        >
          <div [ngClass]="data.guarantee == 'null' ? 'd11' : 'd1'">
            <img src="{{ data.imageUrl }}" />
          </div>
          <div [ngClass]="data.guarantee == 'null' ? 'd22' : 'd2'">
            <h1>{{ data.name }}</h1>
            <br />
            <p>Rs.{{ data.amount }}</p>
            <p *ngIf="data.age.months == 0 && data.age.days == 1">
              Age: {{ data.age.days }} day
            </p>
            <p *ngIf="data.age.months == 0 && data.age.days > 1">
              Age: {{ data.age.days }} days
            </p>
            <p *ngIf="data.age.years == 0 && data.age.months > 0">
              Age: {{ data.age.months }} months {{ data.age.days }} days
            </p>
            <p *ngIf="data.age.years > 0">
              Age: {{ data.age.years }} years {{ data.age.months }} months
              {{ data.age.days }} days
            </p>
            <div
              style="position: relative; left: 30px; top: -20px"
              *ngIf="data.guarantee !== 'null'"
            >
              <canvasjs-chart
                [options]="chartOptions[i]"
                [styles]="{ width: '80%', height: '170px' }"
              ></canvasjs-chart>
            </div>
          </div>
        </div>
      </main>
</section>