<div class="categories">
  <div class="categoriesAdd">
    <img
      class="catImg"
      src="https://st2.depositphotos.com/1000423/7931/i/950/depositphotos_79316698-stock-photo-business-background.jpg"
    />
    <h1 class="add">Add categories</h1>
    <form>
      <input placeholder="Enter" class="addInput" [formControl]="catVal" />
    </form>

    <button class="addBtn" (click)="addCategory()">Add</button>
    <div class="addCat">
      <div
        [ngStyle]="{ backgroundColor: getRandomColor() }"
        class="food"
        *ngFor="let cg of categories"
        (click)="onSelected(cg.id)"
      ><div class="nmDiv">      <p>{{ cg.name }}</p></div>
  
      </div>
    </div>
  </div>
  <section class="incomeSection">
    <img
      class="losang"
      src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzaW5lc3MlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80"
    />
    <h1 class="incomeText">Add Income</h1>
    <form [formGroup]="incomeFormGroup">
      <input class="incomeInput1" type="number" required formControlName="amount" placeholder="Income"/>
      <input class="incomeInput2"
        type="date"
        required
        formControlName="date"
        [(ngModel)]="defaultDate"
      />
    </form>
    <button class="inButton" (click)="addIncome()">Add</button>
  </section>
  <main class="incomeDetails">
<table >
  <tr >
    <th>No</th>
    <th>Amount</th>
    <th>Date</th>
  </tr><tr *ngFor="let inc of incomes;let i=index" >
    <td>{{i+1}}</td>
    <td>{{inc.amount}}</td>
    <td>{{ inc.day | date: 'dd/ MM/ yyyy' }}</td>
  </tr>
</table>
  </main>
</div>
 