.categories {
  width: 100%;
  height: 560px;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
}
.categoriesAdd {
  width: 1278px;
  height: 580px;
  background-color: rgb(255, 255, 255);
  padding-left: 8px;
  display: flex;
}
.catImg {
  width: 48%;
  height: 98%;
  z-index: 100;
  box-shadow: 5px 5px 8px black;
}
.addInput {
  position: absolute;
  top: 255px;
  left: 120px;
  z-index: 150;
  width: 380px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 18px;
  color: rgb(153, 15, 15);
  font-weight: 700;
  background-color: rgba(255, 213, 0, 0.1);
  border-top: 2px solid brown;
  box-shadow: 2px 2px 5px black;
  padding-left: 10px;
}
.food {
  width: 120px;
  height: 120px;
  margin: 10px;
  color: black;
  text-align: center;
  padding-top: 40px;
  border: 9px solid white;
  box-shadow: 15px 15px 18px black;
  color: aliceblue;
  font-size: 20px;
  border-radius: 50%;
}
.incomeSection {
  width: 100%;
  height: 600px;
  margin-top: 30px;
}
.incomeDetails {
  width: 100%;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border: 25px solid black;
  text-align: center;
  overflow: scroll;
  padding-top: 10px;
  background-image: url("https://img.freepik.com/premium-photo/building-with-sunburst-background_9493-5373.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.incomeDetails::-webkit-scrollbar {
  display: none;
}
.incomeDetails table {
  color: rgb(6, 18, 77);
  width: 900px;
  margin-left: 200px;
  box-shadow: 5px 5px 8px black;

}
.incomeDetails table tr {
  height: 60px;
  background-color: rgb(15, 9, 70);
  color: white;
  font-size: 20px;

}
.incomeDetails table td {
  margin-bottom: 20px;
  border: 15px solid rgb(0, 0, 0,0.0);
}
.incomeText {
  position: absolute;
  top: 940px;
  color: white;
  font-size: 200px;
  left: 100px;
  box-shadow: 5px 5px 8px black;
  padding: 25px;
}
.incomeInput1 {
  position: absolute;
  top: 1200px;
  left: 170px;
  width: 300px;
  height: 40px;
  background-color: rgba(6, 11, 65, 0.3);
  border: none;
  outline: none;
  box-shadow: 5px 5px 8px rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-left: 3px solid white;
  padding-left: 10px;
}
.incomeInput2 {
  position: absolute;
  top: 1200px;
  left: 500px;
  width: 300px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  box-shadow: 5px 5px 8px rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(230, 232, 240);
  border-left: 3px solid white;
}
.losang {
  width: 98%;
  height: 100%;
  position: relative;
  left: 10px;
}
.food:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.inButton {
  position: absolute;
  top: 1200px;
  left: 827px;
  width: 300px;
  height: 40px;
  background-color: rgba(51, 8, 8, 0.3);
  border: none;
  outline: none;
  box-shadow: 5px 5px 8px rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(246, 246, 249);
  border-left: 3px solid white;
}

.addBtn {
  position: absolute;
  top: 340px;
  left: 210px;
  z-index: 150;
  width: 190px;
  height: 120px;
  border: none;
  font-size: 20px;
  color: rgb(250, 244, 244);
  background-color: rgb(141, 31, 31);
  box-shadow: 5px 5px 8px black;
}
.add {
  position: absolute;
  top: 180px;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.871);
  left: 100px;
  z-index: 150;
  box-shadow: 2px 2px 5px black;
  padding: 20px;
  padding-bottom: 40px;
}
.addCat {
  width: 630px;
  height: 400px;
  background-color: white;
  border: 8px solid white;
  box-shadow: 5px 5px 8px black inset;
  outline: 70px solid rgb(78, 68, 76);
  position: relative;
  top: 80px;
  left: -50px;
  padding: 20px;
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
  background-repeat: no-repeat;
  object-fit: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-size: cover;
  background-image: url("https://as2.ftcdn.net/v2/jpg/00/47/65/17/1000_F_47651766_H8PDWeX8qGDKMY2xwEKwb1mcyFCuTQNa.jpg");
}
.addCat::-webkit-scrollbar {
  display: none;
}

.cdiv1 {
  padding-top: 30px;
  text-align: center;
}
.cdiv2 {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.addex1 {
}
.addex2 {
}
.cdiv3 {
  text-align: center;
  padding-top: 10px;
}
