.ab {
  width: 100%;
  height: fit-content;
  min-height: 600px;
  padding-bottom: 70px;
  background-color: rgb(243, 240, 240);
  padding-top: 10px;
  color: black;
  text-align: center;
}
.abt {
  position: relative;
}
.abd {
  position: relative;
  width: 800px;
  height: fit-content;
  border: 1px solid rgb(234, 232, 232);
  top: 20px;
  left: 250px;
/* box-shadow: 2px 2px 10px rgb(0, 0, 0)inset; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  border-radius: 5px;
  padding: 30px;
}
.abd::-webkit-scrollbar {
  display: none;
}
table td {
  width: 300px;
  /* border: 1px solid black; */
}
