<div class="ab">
    <h1 class="abt">About</h1>
<div class="abd">
   
    <table style="width: 200px">
        <tr style="height: 30px;">
            <td>App name</td>
            <td>fcb</td>
        </tr>
        <tr style="height: 30px;">
            <td>Started</td>
            <td>17/06/2023</td>
        </tr>
        <tr style="height: 30px;">
            <td>First relies</td>
            <td>23/07/2023</td>
        </tr>
        <tr style="height: 30px;">
            <td>Duration</td>
            <td>39 Days</td>
        </tr>
        <tr style="height: 30px;">
            <td>Version</td>
            <td>5.1.1</td>
        </tr>
    </table>
</div>
</div>
