<div class="ab">
  <h1 class="abt">About</h1>
  <div class="abd">
    <table style="width: 700px; text-align: left">
      <div>
        <tr style="height: 30px; width: 300px">
          <td>App name</td>
          <td>fcb</td>
        </tr>
        <tr style="height: 30px">
          <td>Started</td>
          <td>17-06-2023</td>
        </tr>
        <tr style="height: 30px">
          <td>First relies</td>
          <td>23-07-2023</td>
        </tr>
        <tr style="height: 30px">
          <td>Duration</td>
          <td>39 Days</td>
        </tr>
        <tr style="height: 30px">
          <td>Version</td>
          <td>5.1.1</td>
        </tr>
        <tr style="height: 30px">
          <td>Debugging</td>
          <td>24-07-2023</td>
        </tr>
        <tr style="height: 30px">
          <td>Version</td>
          <td>5.1.2</td>
        </tr>
        <tr style="height: 30px">
          <td>Date</td>
          <td>26-07-2023</td>
        </tr>
        <tr style="height: 30px">
          <td rowspan="3">New Updations</td>
          <td>Color warning for expense</td>
        </tr>
        <tr style="height: 30px">
          <td>Percentage for expense</td>
        </tr>
        <tr style="height: 30px">
          <td>Color warning for percentage</td>
        </tr>
        <tr style="height: 30px">
          <td>Version</td>
          <td>5.1.3</td>
        </tr>
        <tr style="height: 30px">
          <td>Date</td>
          <td>31-07-2023</td>
        </tr>
        <tr style="height: 30px">
          <td rowspan="3">New Updations</td>
          <td>Filter by Dates in Expenses</td>
        </tr>
        <tr style="height: 30px">
          <td>Total by filtered data</td>
        </tr>
        <tr style="height: 30px">
          <td>styling expense page</td>
        </tr>
        <tr style="height: 30px">
          <td>Version</td>
          <td>6.5.4</td>
        </tr>

        <tr style="height: 30px">
          <td>Date</td>
          <td>07-08-2023</td>
        </tr>
        <tr style="height: 30px">
          <td>Updation</td>
          <td>pdf print for monthly report</td>
        </tr>

        <tr style="height: 30px">
          <td>Version</td>
          <td>7.5.4</td>
        </tr>

        <tr style="height: 30px">
          <td>Date</td>
          <td>30-08-2023</td>
        </tr>
        <tr style="height: 30px">
          <td rowspan="2">Updation</td>
          <td>profile image option</td>
        </tr>
        <tr style="height: 30px">
          <td>pie charts for reports</td>
        </tr>

        <tr style="height: 30px">
          <td>Version</td>
          <td>8.0.4</td>
        </tr>
        <tr style="height: 30px">
          <td>Date</td>
          <td>14-10-2023</td>
        </tr>
        <tr style="height: 30px">
          <td rowspan="2">Updation</td>
          <td>creadit listing</td>
        </tr>
        <tr style="height: 30px">
          <td>deactivated creadit list</td>
        </tr>
        <tr style="height: 30px">
          <td>Date</td>
          <td>16-11-2023</td>
        </tr>
        <tr style="height: 30px">
          <td>Updation</td>
          <td>notification</td>
        </tr>
        <tr style="height: 30px">
          <td>Version</td>
          <td>9.0.2</td>
        </tr>
        <tr style="height: 30px">
          <td>Date</td>
          <td>25-12-2023</td>
        </tr>
        <tr style="height: 30px">
          <td>Updation</td>
          <td>Debit</td>
        </tr>
        <tr style="height: 30px">
          <td>Version</td>
          <td>10.0.2</td>
        </tr>
        <tr style="height: 30px">
          <td>Date</td>
          <td>08-12-2024</td>
        </tr>
        <tr style="height: 30px">
          <td>Updation</td>
          <td>Budget</td>
        </tr>
        <tr style="height: 30px">
          <td>Version</td>
          <td>10.0.5</td>
        </tr>
        <tr style="height: 30px">
          <td>Date</td>
          <td>31-12-2024</td>
        </tr>
        <tr style="height: 30px">
          <td>Updation</td>
          <td>History</td>
        </tr>
        <tr style="height: 30px">
          <td>Version</td>
          <td>10.0.9</td>
        </tr>
      </div>
    </table>
  </div>
  <div></div>
</div>
