
<div class="ac" >
  <mat-icon class="RPLY" (click)="return()">replay</mat-icon>
  <div class="ndiv">
    <img class="im" src="{{ data.imageUrl }}" />
    <h1 class="hdi" style="font-weight: 800; font-size: 60px">{{ data.name }}</h1>
  </div>
  <h1>Add Data</h1>
  <form [formGroup]="actionsDataForm">
    <label *ngIf="data.type == 'actionType'">Action</label>
    <input
      *ngIf="data.type == 'actionType'"
      type="checkbox"
      formControlName="action"
    /><br />
    <label *ngIf="data.type == 'expensiveType'||'regularType' ">Expense</label>
    <input *ngIf="data.type == 'expensiveType'||'regularType' " formControlName="expense" /><br />
    <label *ngIf="data.type == 'regularType'">RgExpense</label>
    <input type="number" *ngIf="data.type == 'regularType'" formControlName="rgExpense" /><br />
    <label>Date</label>
    <input
      [(ngModel)]="defaultDate"
      type="date"
      style="position: relative; left: 10px"
      formControlName="day"
    /><br />
    <label>Description</label>
    <input
      type="text"
      style="position: relative; left: -13px"
      formControlName="description"
    /><br />
  </form>
  <button class="addbt" (click)="addActions()">Add</button>
  <mat-icon class="m1" (click)="deleteCategory()" matTooltip="Delete"
    >delete_outline</mat-icon
  >
  <mat-icon class="m2" (click)="openPopup()" matTooltip="Edit">create</mat-icon>
  <p class="toolTipText">Edit</p>
  <div class="updateForm" *ngIf="!open">
    <h1 style="font-size: 27px; text-align: center; z-index: 10">
      Update Category
    </h1>
    <mat-icon
      style="position: relative; top: -60px; left: 15px; z-index: 10"
      (click)="closePopup()"
      >highlight_off</mat-icon
    >
    <img alt="image" class="imn" [src]="setimageURL" *ngIf="setimageURL" />
    <form
      onsubmit="updateCategory()"
      [formGroup]="categoryUpdateForm"
    >
      <label>Name</label>
      <input formControlName="name" [(ngModel)]="name"/><br />
      <label>Duration</label>
      <input formControlName="duration" [(ngModel)]="duration"/><br />
      <label>Image</label>
      <input (change)="onSelect($event)" type="file" /><br />
      <label>Type</label>
      <input formControlName="type" [(ngModel)]="type"/><br />
      <button (click)="updateCategory()" class="sbt">Update</button>
    </form>
  </div>
  <div class="dt">
    <table class="dtt">
      <tr>
        <th>Name</th>
        <th>Expense</th>
        <th>Action</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let val of actions">
        <td>{{ val.name }}</td>
        <td>{{ val.expense }}</td>
        <td>{{ val.action }}</td>
        <td>{{ val.day | date : "dd-MM-yyyy" }}</td>
        <td>{{ val.duration }}</td>
        <td>{{ val.description }}</td>
      </tr>
    </table>
  </div>
</div>
