<section class="fl">
  <header class="hd">
    <h1 (click)="getOpenMainForm()">DEBIT +</h1>
    <p  [ngClass]="!open? 'act':'act2'" (click)="getClose()">Active</p>
    <p  [ngClass]="open? 'dact':'dact2'" (click)="getOpen()">Deactive</p>
  </header>
  <div class="mForm" *ngIf="openMainForm">
    <mat-icon class="clic" (click)="getCloseMainForm()"> near_me</mat-icon>
    <form [formGroup]="debitFormGroup">
      <h1>Add Debit</h1>
      <label>Name :</label>
      <input placeholder="Name" formControlName="name" /><br />
      <label>Amount :</label
      ><input placeholder="Amount" formControlName="amount" /><br />
      <label>Description :</label
      ><input placeholder="Description" formControlName="description" /><br />
      <label>Date :</label
      ><input placeholder="Date" type="date" formControlName="date" /><br />
      <label>Select :</label
      ><input type="file" (change)="handleFile($event)" /><br />
      <button (click)="addDebits()">Add+</button>
    </form>
  </div>
  <main>
   

    <div *ngFor="let val of debits">
      <div class="crd" *ngIf="val.active == 1">
        <h1>{{ val.name }}</h1>
        <span>Amount :</span>
        <span>{{ val.amount }}</span>
        <p>Description</p>
        <p>{{ val.description }}</p>
        <p>Transaction</p>
        <div class="im">
          <img src="{{ val.image }}" />
        </div>
        <mat-icon class="mi" (click)="getOpenForm(val.id)">
          border_color</mat-icon
        >
        <div class="fm" *ngIf="openForm && formId == val.id">
          <mat-icon class="rtnicn" (click)="getCloseForm()">
            navigation</mat-icon
          >
          <p>Add Amount</p>
          <form [formGroup]="debitAmountFormGroup">
            <input formControlName="amount" /><br />
            <input type="date" formControlName="date" /> <br />
          </form>

          <button
            style="position: relative; top: 5px; z-index: 500"
            (click)="addDebitAmount(val.id)"
          >
            Add+
          </button>
        </div>
        <table>
          <tr>
            <th>SN</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
          <tr *ngFor="let val of val.amountData">
            <td>{{ val.id }}</td>
            <td>{{ val.amount }}</td>
            <td>{{ val.day }}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{ val.total }}</td>
            <td></td>
          </tr>
          <tr>
            <td>Exist</td>
            <td>{{ val.exist }}</td>
            <td></td>
          </tr>
        </table>
        <button (click)="updateDebit(val.id)">Close</button>
      </div>
    </div>
    <div class="amt">   <span style="color: black">Total Cards : </span>
      <span style="color: black;">{{ totalCards}}</span><br>
      <span style="color: black;">Total Amount : </span>
      <span style="color: black;">{{ totalAmount}}</span></div>
 
  </main>

  <div class="da" *ngIf="open">
    <div *ngFor="let val of debits">
      <div class="crd2" *ngIf="val.active == 0">
        <h1>{{ val.name }}</h1>
        <span>Amount :</span>
        <span>{{ val.amount }}</span>
        <p>Description</p>
        <p>{{ val.description }}</p>
        <p>Transaction</p>
        <div class="im">
          <img src="{{ val.image }}" />
        </div>
        <table>
          <tr>
            <th>SN</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
          <tr *ngFor="let v of val.amountData">
            <td>{{ v.id }}</td>
            <td>{{ v.amount }}</td>
            <td>{{ v.day }}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{ val.total }}</td>
            <td></td>
          </tr>
          <tr>
            <td>Exist</td>
            <td>{{ val.exist }}</td>
            <td></td>
          </tr>
        </table>
        <button (click)="active(val.id)">Active</button>
      </div>
    </div>
  </div>
</section>
