<section class="fl">
  <header class="hd">
    <h1 (click)="getOpenMainForm(null, 'add')">DEBIT +</h1>
    <p [ngClass]="!open ? 'act' : 'act2'" (click)="getClose()">Active</p>
    <p [ngClass]="open ? 'dact' : 'dact2'" (click)="getOpen()">Deactive</p>
  </header>
  <div class="mForm" *ngIf="openMainForm">
    <mat-icon class="clic" (click)="getCloseMainForm()"> near_me</mat-icon>
    <form [formGroup]="debitFormGroup">
      <h1 *ngIf="mode !== 'edit'">Add Debit</h1>
      <h1 *ngIf="mode == 'edit'">Edit Debit</h1>
      <label>Name :</label>
      <input placeholder="Name" formControlName="name" /><br />
      <label>Amount :</label
      ><input
        type="number"
        placeholder="Amount"
        formControlName="amount"
      /><br />
      <label>Description :</label
      ><input placeholder="Description" formControlName="description" /><br />
      <label class="u1">
        <input class="u2" type="checkbox" formControlName="moneyAccount" />
        Money Account?
      </label>
      <label>Date :</label
      ><input
        placeholder="Date"
        [(ngModel)]="defaultDate"
        type="date"
        formControlName="date"
      /><br />
      <!-- <input type="file" (change)="onSelect($event)" /><br /> -->
      <button *ngIf="mode !== 'edit'" (click)="addDebits()">Add+</button>
      <button *ngIf="mode == 'edit'" (click)="editDebits()">Update+</button>
    </form>
  </div>
  <main>
    <div *ngFor="let val of debits">
      <div class="crd" *ngIf="val.active == 1">
        <div class="ins">
          <h1>{{ val.name }}</h1>
          <span>Amount :</span>
          <span>{{ val.amount }}</span
          ><br />
          <span>Description :</span>
          <span>{{ val.description }}</span
          ><br />
          <span>Date :</span>
          <span>{{ val.date }}</span
          ><br />
        </div>
        <div class="ins2">
          <p class="ts">Transaction</p>
          <mat-icon class="mi" (click)="getOpenForm(val.id)">
            border_color</mat-icon
          >
          <div class="fm" *ngIf="openForm && formId == val.id">
            <mat-icon class="rtnicn" (click)="getCloseForm()">
              navigation</mat-icon
            >
            <p>Add Amount</p>
            <form [formGroup]="debitAmountFormGroup">
              <input formControlName="amount" /><br />
              <input
                type="date"
                [(ngModel)]="defaultDate"
                formControlName="date"
              />
              <br />
            </form>
            <button
              style="position: relative; top: 5px; z-index: 500"
              (click)="addDebitAmount(val.id)"
            >
              Add+
            </button>
          </div>
          <table>
            <tr>
              <th>SN</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let val of val.amountData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ val.amount }}</td>
              <td>{{ val.date | date : "dd-MM-yyyy" }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{ val.total }}</td>
              <td></td>
            </tr>
            <tr>
              <td>Exist</td>
              <td *ngIf="val.total > 0">{{ val.amount - val.total }}</td>
              <td *ngIf="val.total == 0">{{ val.amount }}</td>
              <td></td>
            </tr>
          </table>
          <button (click)="updateDebit(val.id)">Close</button>
          <button (click)="deleteItem(val.id)">delete</button>
          <button (click)="getOpenMainForm(val.id, 'edit')">Edition</button>
        </div>
      </div>
    </div>
    <div class="amt">
      <span style="color: black">Total Cards : </span>
      <span style="color: black">{{ totalCards }}</span
      ><br />
      <span style="color: black">Total Amount : </span>
      <span style="color: black">{{ totalAmount }}</span>
    </div>
  </main>

  <div class="da" *ngIf="open">
    <div *ngFor="let val of debits; let i = index">
      <div class="crd2" *ngIf="val.active == 0">
        <div class="ins">
          <h1>{{ val.name }}</h1>
          <span>Amount :</span>
          <span>{{ val.amount }}</span
          ><br />
          <span>Description :</span>
          <span>{{ val.description }}</span
          ><br />
          <span>Date :</span>
          <span>{{ val.date }}</span
          ><br />
        </div>
        <div class="ins2">
          <p>Transaction</p>

          <table>
            <tr>
              <th>SN</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let v of val.amountData">
              <td>{{ i + 1 }}</td>
              <td>{{ v.amount }}</td>
              <td>{{ v.date | date : "dd-MM-yyyy" }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{ val.total }}</td>
              <td></td>
            </tr>
            <tr>
              <td>Exist</td>
              <td>{{ val.exist }}</td>
              <td></td>
            </tr>
          </table>
          <button (click)="active(val.id)" class="acb">Active</button>
        </div>
      </div>
    </div>
  </div>
</section>
