.historySection {
  width: 100%;
  height: 500px;
  color: black;
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 12px;
  background-color: rgb(247, 254, 255);
  padding-left: 5px;
}
.in2 {
  width: 80px;
  height: 20px;
}
.in1 {
  width: 80px;
  height: 20px;
  margin-right: 5px;
}
.in3 {
  width: 80px;
  height: 20px;
  margin-right: 5px;
}
.ins {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  background-color: rgb(255, 255, 255);
}
#cthd {
  font-size: 30px;
  margin-left: 5px;
  color: rgb(39, 6, 26);
  margin-bottom: 10px;
}
.a1 {
  width: 400px;
  height: 1px;
  position: absolute;
  top: 110px;
  left: 175px;
  display: flex;
}
.b1 {
  width: 300px;
  position: relative;
  border: none;
  border-bottom: 1px solid black;
  height: 20px;
  top: -18px;
  outline: none;
  padding-left: 5px;
  left: 10px;
  background-color: rgb(247, 254, 255);
}
.fnr{
  position: absolute;
  left: 90px;
}
.alld{
  position: relative;
  left: 170px;
  color: rgb(255, 0, 132);
  top: -20px;
  font-size: 12px;
}
.l1 {
  position: relative;
  top: -25px;
  left: 20px;
}
.l2 {
  position: relative;
  top: -25px;
  left: 29px;
}
.mnth {
  position: relative;
  left: 170px;
  color: rgb(255, 0, 132);
  top: -50px;
  font-size: 12px;
}
.mnth1 {
  position: relative;
  left: 205px;
  color: rgb(112, 21, 130);
  top: -55px;
  font-size: 13px;
}
.mnth12 {
  position: relative;
  left: 170px;
  color: rgb(112, 21, 130);
  top: -39px;
  font-size: 13px;
}
.l3 {
  position: relative;
  top: -25px;
  left: 25px;
}
.b2 {
  width: 200px;
  height: 30px;
  position: relative;
  top: -15px;
  padding: 2px;
}
.smhd {
  font-size: 18px;
  margin-right: 25px;
  color: rgb(13, 29, 107);
}
.addbtn {
  width: 50px;
  height: 20px;
  background-color: rgb(156, 151, 151);
  margin-left: 5px;
}
.ctg {
  width: 415px;
  height: fit-content;
  padding: 10px;
  background-color: rgb(253, 251, 251);
  /* box-shadow: 2px 2px 5px rgb(67, 67, 67); */
  margin-right: 1px;
  border-top: 1px solid black;
}
.tb {
  width: 415px;
  text-align: center;
  margin-top: 10px;
}
.hddv {
  display: flex;
}
.tb,
th,
td {
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.tb {
}
