<section class="historySection">
  <h1 id="cthd">categories</h1>
  <div class="a1">
    <input class="b1" [formControl]="search" />
    <mat-icon class="fnr" (click)="clear()">touch_app</mat-icon>
    <div class="b2">
      <label class="l1">All</label>
      <mat-icon (click)="swithToAll()"> sentiment_satisfied_alt</mat-icon>
      <label class="l2" (click)="switchToCurrent()">Current</label>
      <mat-icon (click)="switchToCurrent()"> sentiment_satisfied_alt</mat-icon>
      <label class="l3">Prive </label>
      <mat-icon (click)="changeMonthToPreve()">
        sentiment_satisfied_alt</mat-icon
      >
      <p *ngIf="!this.all" class="mnth12">{{ defualtYear }}</p>
      <p *ngIf="!this.all" class="mnth1">{{ defualtMonthName }}</p>
      <p [ngClass]="!this.all ? 'mnth' : 'alld'">₹ {{ expenseTotel }}.00</p>
    </div>
  </div>
  <div class="ins">
    <div class="ctg" *ngFor="let val of categories">
      <div class="hddv">
        <form [formGroup]="expenseFormGroup" (ngSubmit)="addData()">
          <p class="smhd">{{ val.name }}</p>
          <input
            class="in1"
            placeholder="amount"
            type="number"
            formControlName="expense"
            required
            (click)="addCatId(val.id)"
          /><input
            class="in3"
            type="date"
            [(ngModel)]="defaultDate"
            formControlName="date"
          /><input
            class="in2"
            formControlName="description"
            placeholder="description"
          /><button class="addbtn" type="submit">Add</button>
        </form>
      </div>
      <table class="tb">
        <thead>
          <th
            style="
              border-top: 1px solid black;
              background-color: rgb(105, 104, 104);
              color: white;
            "
          >
            no
          </th>
          <th
            style="
              border-top: 1px solid black;
              background-color: rgb(105, 104, 104);
              color: white;
            "
          >
            date
          </th>
          <th
            style="
              border-top: 1px solid black;
              background-color: rgb(105, 104, 104);
              color: white;
            "
          >
            expense
          </th>
          <th
            style="
              border-top: 1px solid black;
              background-color: rgb(105, 104, 104);
              color: white;
            "
          >
            Description
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let v of val.expense" (click)="deleteExpense(v.id)">
            <td>{{ v.index }}</td>
            <td>{{ v.day | date : "dd /MM/ yyyy" }}</td>
            <td>{{ v.expense }}</td>
            <td *ngFor="let val of v.desc">{{ val.desc }}</td>
            <td>{{ v.description }}</td>
          </tr>
          <tr>
            <td style="border-bottom: none">total</td>
            <td style="border-bottom: none"></td>
            <td style="text-align: center; color: red; border-bottom: none">
              {{ val.total }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
