.lg {
  width: 100%;
  height: 660px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -100px;
  z-index: 12000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: black;
  background-image: url("https://wallpaperaccess.com/full/1137385.jpg");
}
.fc {
  font-size: 124px;
  color: white;
  position: relative;
  top: 280px;
  box-shadow: 5px 5px 28px black;
  margin-left: 190px;
}
.lg input{
  width: 250px;
  height: 30px;
}
.lg input:nth-child(2){
  width: 250px;
  height: 30px;
  position: relative;
  left: 800px;
  top: 100px;
}
.ps{
  width: 250px;
  height: 30px;
  position: relative;
  left: 490px;
  top: 160px;
}
.lg button{
  width: 250px;
  height: 30px;
  position: relative;
  left: 872px;
  top: 180px;
  background-color: rgb(37, 154, 217);
  color: aliceblue;
}
.lg label:nth-child(1){

  position: relative;
  left: 790px;
  top: 100px;
  color: aliceblue;
}
.sd{

  position: relative;
  left: 470px;
  top: 160px;
  color: aliceblue;
}
.rg{
  position: relative;
  left: 874px;
  top: 190px;
  background-color: rgb(2, 217, 255);
color: rgb(255, 255, 255);
width: fit-content;
}
