<section
  class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 report"
  id="invoice"
  #invoice
>
  <div class="d1">
    <h3>Budget Items Movements</h3>
    <span class="prv" (click)="changeMonthToPreve()">previous</span>
    <span class="current" (click)="switchToCurrent()">current</span>
    <span class="month" style="margin-right: 10px">{{ defualtYear }}</span>
    <span class="month2">{{ defualtMonthName }}</span>
    <div style="width: 80%; margin: auto">
      <canvas id="barChart"></canvas>
    </div>
    <div class="items">
      <div class="item" *ngFor="let val of budgets" (click)="editMode(val)">
        <p>{{ val.name }}</p>
        <br />
        <p>₹{{ val.amount }}</p>
        <br />
      </div>
    </div>
  </div>
  <div class="d2">
    <div class="hd">
      <h1 class="bdgthdng">Budget {{ currentMonth }} {{ currentYear }}</h1>
      <p class="e1">Day</p>
      <p class="e2">{{ percentageOfTheDay }}%</p>
      <p class="e3">Exp-expect</p>
      <p class="e4">{{ ExpOfTheDay }}</p>
      <p class="e5">Exp: {{ this.totalExpenseByExpenseAll }}</p>
      <p class="e6">Bl: {{ ExpOfTheDay - totalExpenseByExpenseAll }}</p>
      <button class="adbtn" (click)="openForm()">Add new</button>
      <button class="adbtnPrnt" (click)="generatePDF()">Print</button>
    </div>
    <div class="pi">
      <canvasjs-chart
        [options]="chartOptions"
        [styles]="{ width: '100%', height: '200px' }"
      ></canvasjs-chart>
      <div class="bldv">
        <div class="s1">
          <p>to : {{ (25 * totalBudget) / 100 }}</p>
          <p>used : {{ this.firstPartTotal }}</p>
          <p>
            bal :
            {{ (25 * totalBudget) / 100 - firstPartTotal }}
          </p>
          <p class="hil">25%</p>
        </div>
        <div class="s1" *ngIf="currentDay > 7 || this.prive">
          <p>to : {{ (50 * totalBudget) / 100 }}</p>
          <p>used : {{ this.secondPartTotal }}</p>
          <p>
            bal :
            {{ (50 * totalBudget) / 100 - secondPartTotal }}
          </p>
          <p class="hil">50%</p>
        </div>
        <div class="s1" *ngIf="currentDay > 15 || this.prive">
          <p>to : {{ (75 * totalBudget) / 100 }}</p>
          <p>used : {{ this.thirdPartTotal }}</p>
          <p>
            bal :
            {{ (75 * totalBudget) / 100 - thirdPartTotal }}
          </p>
          <p class="hil">75%</p>
        </div>
        <div class="s1" *ngIf="currentDay > 23 || this.prive">
          <p>to : {{ (100 * totalBudget) / 100 }}</p>
          <p>used : {{ this.totalExpenseByExpenseAll }}</p>
          <p>
            bal : {{ (100 * totalBudget) / 100 - totalExpenseByExpenseAll }}
          </p>
          <p class="hil2">100%</p>
        </div>
      </div>
    </div>
    <div class="bar">
      <canvasjs-chart
        [options]="chartOptions2"
        [styles]="{ width: '100%', height: '170px' }"
      ></canvasjs-chart>
    </div>
  </div>
  <!-- form -->
  <main class="fm" *ngIf="open">
    <h3 *ngIf="mode !== 'EDIT'">Add Budget Items</h3>
    <h3 *ngIf="mode == 'EDIT'">Edit Budget Items</h3>
    <form [formGroup]="budgetFormGroup">
      <label style="margin-right: 30px">Name</label>
      <input formControlName="name" /><br />
      <label style="margin-right: 16px">Amount</label>
      <input type="number" formControlName="amount" /><br />
      <label style="margin-right: 16px">Date</label>
      <input
        type="date"
        style="position: relative; left: 20px; width: 170px"
        formControlName="date"
      /><br />
      <label>Categories</label>
      <div class="ctgrs">
        <div *ngFor="let val of categories">
          <p
            (click)="addSelectedCategory(val.id)"
            *ngIf="
              !categoriesIdFromBudgetData.includes(val.id) &&
              !categoriesSelectedIds.includes(val.id)
            "
          >
            {{ val.name }}
          </p>
        </div>
      </div>
    </form>
    <!-- display -->
    <div class="display">
      <div *ngFor="let val of categoriesSelected">
        <p (click)="removeSelectedCategory(val.id)">
          {{ val.name }}
        </p>
      </div>
    </div>
    <button (click)="mode == 'EDIT' ? EditForm() : saveForm()" class="svb">
      Save
    </button>
    <button (click)="closeForm()" class="cnb">Cancel</button>
    <button class="cnbd" *ngIf="mode === 'EDIT'" (click)="deleteBudget()">
      Delete
    </button>
  </main>
</section>
