section {
  width: 100vw;
  height: 500px;
  background-color: red;
  display: flex;
}
.prv{
  position: relative;
  left: 375px;
  top: -20px;
}
.current{
  position: relative;
  left: 250px;
  top: -20px;
  color: rgb(0, 0, 0);
}
.e1{
  position: relative;
  left: -90px;
  font-size: 12px;
  top: 3px;
}
.e2{
  position: relative;
  left: -40px;
  font-size: 12px;
  top: -10px;
  color: green;
}
.e3{
  position: relative;
  left: 30px;
  font-size: 12px;
  top: -25px;
  margin-right: 5px;
}
.e4{
  position: relative;
  left: 70px;
  font-size: 12px;
  top: -38px;

}
.e5{
  position: relative;
  left: 120px;
  font-size: 12px;
  top: -53px;

}
.e6{
  position: relative;
  left: 180px;
  font-size: 12px;
  top: -67px;

}
.month{
  position: relative;
  left: 350px;
  top: -20px;

}
.month2{
  position: relative;
  left: 350px;
  top: -20px;
  color: rgb(142, 9, 64);
}
.d1 {
  width: 60%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 60px;
  border-right: 1px solid rgb(210, 206, 206);
  color: rgb(59, 54, 54);
}
.fm {
  position: absolute;
  width: 860px;
  height: 400px;
  background-color: rgb(235, 234, 234);
  left: 200px;
  box-shadow: 2px 2px 5px black;
  color: rgb(78, 76, 76);
  padding: 30px;
}
.fm h3 {
  margin-bottom: 20px;
}
.fm input {
  margin-bottom: 20px;
  margin-left: 20px;
}
.items {
  width: 670px;
  height: fit-content;
  padding-left: 20px;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  padding-left: 20px;
  margin-left: 70px;
}
canvas {
  max-width: 100%;
  height: auto;
}

.item {
  width: 100px;
  height: 40px;
  background-color: rgb(197, 196, 197);
  color: rgb(228, 227, 227);
  font-size: 12px;
  color: black;
  text-align: center;
  padding-top: 2px;
  padding-top: 2px;
  margin-right: 8px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(90, 87, 87);
}
.item p {
  margin-bottom: -10px;
}

.svb {
  position: absolute;
  top: 350px;
  width: 100px;
  height: 30px;
  left: 39%;
  background-color: black;
  color: rgb(191, 187, 187);
  margin-right: 20px;
}
.cnb {
  position: absolute;
  top: 350px;
  width: 100px;
  height: 30px;
  left: 52%;
  background-color: black;
  color: rgb(191, 187, 187);
  margin-right: 20px;
}
.cnbd {
  position: absolute;
  top: 350px;
  width: 100px;
  height: 30px;
  left: 65%;
  background-color: black;
  color: rgb(191, 187, 187);
  margin-right: 20px;
}
.adbtn {
  position: absolute;
  left: 94%;
  top: 500px;
  width: 60px;
  height: 20px;
  background-color: rgb(218, 215, 215);
  color: rgb(235, 235, 235);
  margin-right: 20px;
  font-size: 12px;
  z-index: 1000;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(92, 91, 91);
}
.third-bar {
  width: 100%;
  height: 33%;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-top: 20px; /* Add padding if needed */
}
.adbtnPrnt {
  width: 60px;
  height: 20px;
  left: -230px;
  background-color: rgb(65, 13, 51);
  color: rgb(235, 235, 235);
  margin-right: 20px;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(92, 91, 91);
  position: absolute;
  left: 94%;
  top: 530px;
  z-index: 1000;
}
.ctgrs {
  height: 140px;
  background-color: rgb(214, 220, 220);
  width: 300px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  padding-left: 25px;
}
.display {
  width: 300px;
  height: fit-content;
  position: relative;
  left: 490px;
  top: -250px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
.display p {
  margin: 5px;
  font-size: 13px;
  border: 1px solid black;
  padding: 2px;
  background-color: aqua;
}
.ctgrs p {
  margin: 5px;
  font-size: 13px;
  border: 1px solid black;
  padding: 2px;
  background-color: aqua;
}
.ctgrs::-webkit-scrollbar {
  display: none;
}
.display::-webkit-scrollbar {
  display: none;
}
.d1 h3 {
  position: relative;
  left: 80px;
}
.d2 {
  width: 40%;
  height: 100%;
  background-color: rgb(36, 36, 143);
}
.bldv{
  position: relative;
  width: 100%;
  height: 45px;
  top: 200px;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 10px;
  background-color: rgb(255, 248, 248);
}
.s1{
  position: relative;
  width: 25%;
  height: 100%;
  border: 1px solid rgb(197, 195, 195);
  padding: 5px;
  background-color: aliceblue;
}
.hil{
  position: relative;
  left: 80px;
  top: -25px;
  font-size: 15px;
}
.hil2{
  position: relative;
  left: 65px;
  top: -25px;
  font-size: 15px;
}
.hd {
  width: 100%;
  height: 12%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  color: rgb(42, 46, 50);
  border-bottom: 1px solid rgb(210, 206, 206);
}
.bdgthdng {
  font-size: 23px;
  color: rgb(91, 9, 66);
}
.pi {
  width: 100%;
  height: 55%;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-top: 30px;
  border-bottom: 1px solid rgb(210, 206, 206);
}
.bar {
  width: 100%;
  height: 33%;
  background-color: rgb(255, 255, 255);
  display: flex;
}
