.main {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 1560px;
  color: aliceblue;
  padding-top: 70px;
}
.rpButton {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 85%;
  background-color: rgb(224, 15, 15);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 10px;
}
section::-webkit-scrollbar {
  display: none;
}
.header {
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgb(178, 174, 174);
  padding-left: 30px;
  padding-top: 10px;
  position: fixed;
  z-index: 11100;
}
.fcb {
  font-size: 54px;
  font-weight: 900;
  font-family: serif;
  color: rgb(125, 22, 22);
  margin-top: -5px;
  position: relative;
  left: 90px;
}
.hm{
  border-top: 1px solid rgb(101, 24, 24);
  border-right: 1px solid rgb(111, 27, 27);
  border-left: 1px solid rgb(108, 25, 25);
  height: 20px;
  background-color: white;
  border-radius: 2px;
  /* box-shadow: 2px 2px 5px black; */

}
.ct{
  border-top: 1px solid rgb(101, 24, 24);
  border-right: 1px solid rgb(111, 27, 27);
  border-left: 1px solid rgb(108, 25, 25);
  height: 20px;
  background-color: white;
  border-radius: 2px;
  color: rgb(176, 23, 102);
}
.mn{
  border-top: 1px solid rgb(101, 24, 24);
  border-right: 1px solid rgb(111, 27, 27);
  border-left: 1px solid rgb(108, 25, 25);
  height: 20px;
  background-color: white;
  border-radius: 2px;
  color: rgb(176, 23, 102);
  /* box-shadow: 2px 2px 5px black; */
}
.mns{
  border-top: 1px solid rgb(101, 24, 24);
  border-right: 1px solid rgb(111, 27, 27);
  border-left: 1px solid rgb(108, 25, 25);
  height: 20px;
  background-color: white;
  color: rgb(176, 23, 102);
  border-radius: 2px;
  /* box-shadow: 2px 2px 5px black; */
}
.mnss{
  border-top: 1px solid rgb(101, 24, 24);
  border-right: 1px solid rgb(111, 27, 27);
  border-left: 1px solid rgb(108, 25, 25);
  height: 20px;
  background-color: white;
  border-radius: 2px;
  color: rgb(176, 23, 102);
  /* box-shadow: 2px 2px 5px black; */
}
.iuh{
  border-top: 1px solid rgb(101, 24, 24);
  border-right: 1px solid rgb(111, 27, 27);
  border-left: 1px solid rgb(108, 25, 25);
  color: rgb(176, 23, 102);
  height: 20px;
  background-color: white;
  border-radius: 2px;
  /* box-shadow: 2px 2px 5px black; */
}
.iuhs{
  border-top: 1px solid rgb(101, 24, 24);
  border-right: 1px solid rgb(111, 27, 27);
  border-left: 1px solid rgb(108, 25, 25);
  color: rgb(176, 23, 102);
  height: 20px;
  background-color: white;
  border-radius: 2px;
  /* box-shadow: 2px 2px 5px black; */
}
.iuhss{
  border-top: 1px solid rgb(101, 24, 24);
  border-right: 1px solid rgb(111, 27, 27);
  border-left: 1px solid rgb(108, 25, 25);
  color: rgb(176, 23, 102);
  height: 20px;
  background-color: white;
  border-radius: 2px;
  /* box-shadow: 2px 2px 5px black; */
}

.hm:active {
  color: rgb(106, 112, 112);
}
.ct:active {
  color: rgb(84, 88, 88);
}
.mn:active {
  color: rgb(113, 120, 120);
}
.nav {
  position: relative;
  width: 720px;
  color: rgb(0, 0, 0);
  height: 30px;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  top: -50px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  left: 220px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
border-bottom: 1px solid black;
}

.mn2 {
  position: relative;
  left: 70px;
  font-size: 35px;
  top: -30px;
  color: brown;
  box-shadow: 2px 2px 5px black;
  padding: 15px;
  height: fit-content;
  width: fit-content;
}
.dvi {
  border-radius: 50%;
  position: relative;
  height: 45px;
  width: 45px;
  top: -98px;
  left: 95%;
  padding: 5px;
  box-shadow: 2px 2px 5px rgb(223, 219, 219);
}
.myImage {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.myName {
  position: relative;
  font-size: 13px;
  left: 10px;
}
.profilePop {
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 28, 0.4);
  position: absolute;
  z-index: 1000000;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 550px;
  height: 280px;
  background-color: rgb(243, 243, 251);
  position: absolute;
  z-index: 1000000;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
.myImage2 {
  width: 150px;
  height: 150px;
  position: relative;

  left: 110px;
  top: 20px;
  border: 10px solid rgb(255, 255, 255);
  object-fit: cover;
  box-shadow: 2px 2px 5px rgb(149, 146, 146);
}
.profile p {
  position: relative;
  left: 120px;
  top: 20px;
  font-size: 30px;
}
.mi {
  position: relative;
  top: 20px;
  left: 50px;
  background-color: rgb(246, 239, 239);
  object-fit: cover;
}
.mb {
  position: relative;
  left: 100px;
  top: 20px;
  width: 150px;
  height: 30px;
  background-color: rgb(35, 79, 102);
  border: none;
  color: aliceblue;
}
.xe {
  position: relative;
  top: 10px;
  color: rgb(16, 16, 16);
  left: 200px;
}
.ic {
  position: absolute;
  top: 20px;
  left: 1040px;
  /* color: red; */
}
.ntf {
  position: absolute;
  top: 13px;
  left: 1054px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  background-color: rgb(255, 81, 0);
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 2px 2px 5px rgb(134, 131, 131);
}
.ntl {
  position: absolute;
  width: 400px;
  min-height: 50px;
  max-height: 460px;
  padding: 20px;
  border-radius: 10px;
  top: 42px;
  left: 672px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgb(116, 114, 114);
  overflow: scroll;
  padding-bottom: 20px;
}
.pfimg{
  width: 70px;
  height: 70px;
  top: -1px;
  left: 25px;
}
.ntl::-webkit-scrollbar {
  display: none;
}
.toggleButton {
  color: rgb(185, 19, 19);
}
.nn2 {
  color: rgb(248, 0, 112);
}
.ntt td {
  width: 100px;
  height: 30px;
  background-color: antiquewhite;
  text-align: center;
}
.ntt{
  margin-left: 30px;
}


.nav {
  display: flex;
  gap: 20px;
}

.dropdown {
  position: relative;
}

.dropdown span {
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  top: 25px;
  left: 0;
  padding: 10px 0;
  z-index: 1000;
}

.dropdown-content span {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: #f5f5f5;
}

.hm,
.hm2,
.fn,
.fn2,
.mns,
.mns2,
.mnss,
.mnss2,
.iuh,
.iuh2,
.iuhs,
.iuhs2,
.iuhss,
.iuhss2 {
  font-size: 16px;
  cursor: pointer;
}

