<section>
  <header class="header">
    <img
      routerLink="home"
      class="pfimg"
      style="position: absolute"
      src="https://img.freepik.com/free-vector/colorful-letter-gradient-logo-design_474888-2309.jpg"
    />
    <h1 class="fcb" routerLink="home">FCB</h1>
    <div class="nav" style="display: flex">
      <span
        [ngClass]="selcetion === 'home' ? 'hm' : 'hm2'"
        routerLink="home"
        (click)="select('home')"
      >
        Home
      </span>

      <div class="dropdown">
        <span
          [ngClass]="selcetion === 'finance' ? 'fn' : 'fn2'"
          (click)="toggleDropdown();select('finance')"
        >
          Finance 
        </span>
        <div class="dropdown-content" *ngIf="dropdownOpen">
          <span
            [ngClass]="selcetion === 'history' ? 'ct' : 'ct2'"
            routerLink="history"
            (click)="select('categories')"
          >
            History
          </span>
          <span
            [ngClass]="selcetion === 'categories' ? 'ct' : 'ct2'"
            routerLink="categories"
            (click)="select('categories')"
          >
            Categories
          </span>
          <span
            [ngClass]="selcetion === 'monitor' ? 'mn' : 'mn22'"
            routerLink="monitor"
            (click)="select('monitor')"
          >
            Monitor
          </span>
          <span
            [ngClass]="selcetion === 'hub' ? 'mn' : 'mn22'"
            routerLink="hub"
            (click)="select('monitor')"
          >
          Finance Hub 
          </span>
          <span
            [ngClass]="selcetion === 'budget' ? 'mn' : 'mn22'"
            routerLink="budget"
            (click)="select('budget')"
          >
            Budget
          </span>
          <span
            [ngClass]="selcetion === 'master' ? 'mn' : 'mn22'"
            routerLink="master"
            (click)="select('master')"
          >
            Master
          </span>
          <span
            [ngClass]="selcetion === 'income' ? 'mn' : 'mn22'"
            routerLink="income"
            (click)="select('master')"
          >
            Income
          </span>
        </div>
      </div>

      <span
        [ngClass]="selcetion === 'about' ? 'mns' : 'mns2'"
        routerLink="about"
        (click)="select('about')"
      >
        About
      </span>
      <span
        [ngClass]="selcetion === 'notification' ? 'mnss' : 'mnss2'"
        routerLink="notification"
        (click)="select('notification')"
      >
        Notification
      </span>
      <span
        [ngClass]="selcetion === 'creadit' ? 'iuh' : 'iuh2'"
        routerLink="creadit"
        (click)="select('creadit')"
      >
        Creadit
      </span>
      <span
        [ngClass]="selcetion === 'debit' ? 'iuhs' : 'iuhs2'"
        routerLink="debit"
        (click)="select('debit')"
      >
        Debit
      </span>
      <span
        [ngClass]="selcetion === 'commission' ? 'iuhss' : 'iuhss2'"
        routerLink="commission"
        (click)="select('commission')"
      >
        Commission
      </span>
      <span
        class="mna"
        routerLink="monitor"
        (click)="logout()"
        style="color: brown"
      >
        Logout
      </span>
      <mat-icon
        style="color: rgb(85, 76, 14)"
        routerLink="trad"
        (click)="select('trad')"
      >
        trending_up
      </mat-icon>
      <span
        class="mn mn2"
        style="border: 1px solid white"
        routerLink="calendar"
      >
        {{ month }}
      </span>
      <span
        style="
          background-color: rgb(196, 188, 188);
          border: 1px solid rgb(196, 188, 188);
        "
        class="mn mn2"
        routerLink="monitor"
      >
        {{ date }}
      </span>
    </div>
  </header>
  <div class="main"><router-outlet></router-outlet></div>

</section>
