<section>
  <header class="header">
    <h1 class="fcb">FCB</h1>
    <div class="nav" style="display: flex">
      <span class="hm" routerLink="home">Home</span>
      <span class="ct" routerLink="categories">Categories</span>
      <span class="mn" routerLink="monitor">Monitor</span>
      <span class="mn" routerLink="about">About</span>
      <span class="mn" routerLink="monitor" (click)="logout()">Logout</span>
    </div>
    <button class="rpButton" routerLink="monitor">See Yearly Reports</button>
  </header>
  <div class="main"><router-outlet></router-outlet></div>
</section>
