.expense-table {
    position: absolute;
    top: 100px;
    color: black;
    z-index: 100;
    font-size: 10px;
    background-color: white;
    left: 40px;
    width: 190px;
    height: 480px;
    overflow: scroll;
    text-align: center;
    padding-left: 10px;
  }
  .expense-table::-webkit-scrollbar{
    display: none;
  }
  .expense-table td,th{
    width: 150px;
    text-align: left;
  }