<section class="sec">
  <div class="d1">
    <h1 class="inm">INCOME</h1>
    <form [formGroup]="incomeFormGroup">
      <input
        class="incomeInput1"
        type="number"
        required
        formControlName="amount"
        placeholder="Income"
      />
      <input
        class="incomeInput2"
        type="date"
        required
        formControlName="date"
        [(ngModel)]="defaultDate"
      />
    </form>
    <button class="inButton" (click)="addIncome()">Add</button>
    <main class="incomeDetails">
      <table class="m1">
        <tr>
          <th style="width: 70px">No</th>

          <th style="width: 100px">Date</th>
          <th>Amount</th>
          <th style="width: 50px"></th>
        </tr>
        <tr *ngFor="let inc of incomes; let i = index">
          <td>{{ i + 1 }}</td>

          <td>{{ inc.day | date : "dd/ MM/ yyyy" }}</td>
          <td>{{ inc.amount }}</td>
          <td>
            <mat-icon style="font-size: 14px" (click)="deleteIncome(inc.id)"
              >delete_forever</mat-icon
            >
          </td>
        </tr>
        <tr style="background-color: rgb(240, 239, 239); height: 15px">
          <td></td>
          <td>Total</td>
          <td>{{ incomTotal }}</td>
          <td></td>
        </tr>
      </table>
      <table class="m2">
        <tbody>
          <tr *ngFor="let group of groupedData">
            <td style="width: 100px">{{ group.year }}</td>
            <!-- Display year only once -->
            <ng-container *ngFor="let month of group.months; let i = index">
              <!-- Each month gets its own row -->
              <tr>
                <td style="width: 200px">{{ month.month }}</td>
                <!-- Display month -->
                <td>
                  <ul>
                    <li
                      *ngFor="let income of month.incomes"
                      style="margin-bottom: 5px;width: 200px;"
                    >
                      {{ income }}
                    </li>
                  </ul>
                </td>
                <td *ngIf="month.total !== undefined" style="color: brown">
                  {{ month.total }}
                </td>
              </tr>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</section>
