.cnt {
  width: 100%;
  height: fit-content;
  min-height: 600px;
  padding-bottom: 70px;
  background-color: rgb(243, 240, 240);
  padding-top: 10px;
  color: black;
  text-align: center;
}
.dcbtn {
  color: rgb(54, 48, 48);
  position: relative;
  left: 500px;
  background-color: blanchedalmond;
  top: -50px;
}
.ctgr {
  position: absolute;
  left: 65%;
  top: 300px;
  width: 400px;
  height: 300px;
  background-color: rgb(47, 50, 50, 0.3);
  padding: 20px;
  color: rgb(222, 221, 221);
  display: flex;
  flex-wrap: wrap;
}
.items {
  width: 900px;
  height: 650px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1200;
  animation: moveLR 1s linear;
  display: flex;
}
@keyframes moveLR {
  from {
    left:-900px;
  }
  to {
    left: 0px; /* adjust distance */
  }
}
.items2{
  width: 900px;
  height: 650px;
    display: flex;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1200;
  animation: moveLR2 1s linear;
}
@keyframes moveLR2 {
  from {
    left:0px;
  }
  to {
    left: -900px; /* adjust distance */
  }
}
.itemcontent{
  width:60% ;
  padding-left: 50px;
  padding-top: 20px;
  overflow: scroll;
}
.itemcontent::-webkit-scrollbar{
  width: 5px;
  display: none;
}
.itemcontent::-webkit-scrollbar-track {
  background: #9b9a9a;      /* track color */
  border-radius: 10px;
}

.itemcontent::-webkit-scrollbar-thumb {
  background: #888;         /* thumb color */
  border-radius: 0px;
}

.itemcontent::-webkit-scrollbar-thumb:hover {
  background: #c68989;         /* thumb hover color */
}
.itemdetail{
  width:40% ;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.itemname{
  width: 400px;
  height: 80px;
  margin: 20px;
  display: flex;
border-bottom: 1px solid rgb(165, 162, 162);
}
.smim{
  width: 100%;
  height:100%;
  object-fit: cover;
}
.item-name{
 width:70% ;
  height: 100%;  
  font-size: 20px;
    padding-top: 20px;
     overflow: scroll;
}
.item-name::-webkit-scrollbar{
  display:none;
}

.item-pic{
 width:30% ;
  height: 100%;
  background-color: rgb(23, 128, 147);  
}
.ctgr p {
  margin: 20px;
}
.hd {
  font-size: 64px;
  color: white;
  position: relative;
  top: 50px;
}
.spn {
  background-color: orangered;
}
.expl {
  width: 400px;
  height: 300px;
  background-color: rgb(47, 50, 50, 0.3);
  position: relative;
  top: 110px;
  left: 100px;
  padding: 20px;
}
.expl p {
  color: antiquewhite;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 10px;
}
.expl button {
  background-color: orangered;
  width: 200px;
  height: 30px;
  color: aliceblue;
  border: none;
}
.lst1 {
  width: 100vw;
  height: 650px;
  background: linear-gradient(rgb(0, 0, 0), rgba(3, 3, 16, 0.5)),
    url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lst2 {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: fit-content;
}
.crd {
  width: 290px;
  height: 490px;
  /* max-height: fit-content; */
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(139, 133, 133);
  overflow: hidden;
}
.as {
  width: 290px;
  height: 390px;
  /* max-height: fit-content; */
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(139, 133, 133);
  overflow: hidden;
}
.clsb {
  color: aliceblue;
}
.fm {
  position: absolute;
  width: 450px;
  height: 330px;
  border: 10px solid rgb(5, 4, 30);
  left: 700px;
  border-radius: 30px;
  top: 265px;
  align-items: center;
  padding-top: 7px;
  background-color: rgba(115, 92, 9, 0.6);
}
.adb {
  width: 250px;
  height: 30px;
  margin: 10px;
  background-color: rgb(99, 94, 10);
  color: white;
  margin-left: 15px;
}
.fm input {
  width: 250px;
  height: 30px;
  margin: 5px;
  border: 2px solid red;
}
.d1 {
  width: 100%;
  height: 40%;
  background-color: white;
  overflow: hidden;
}
.d11 {
  width: 100%;
  height: 60%;
  background-color: white;
  overflow: hidden;
}
.d1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.d1 img:hover {
  transform: rotate(-2deg) scale(1.1);
}
.d11 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.d11 img:hover {
  transform: rotate(-2deg) scale(1.1);
}
.d2 {
  width: 100%;
  height: 40%;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
}
.d22 {
  width: 100%;
  height: 60%;
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
}
.d2 {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.d2 p {
  position: relative;
  top: -30px;
  font-size: 16px;
}
