<section class="ms">
  <div class="ms1">
    <h1 style="margin: 5px">Historic Finance Overview</h1>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Expense</th>
          <th>Income</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of finalTableData">
          <td [style.fontWeight]="row.isYear ? '600' : 'normal'">
            {{ row.isYear ? row.year : row.month }}
          </td>
          <td *ngIf="!row.isYear">{{ row.expense || "" }}</td>
          <td *ngIf="!row.isYear">{{ row.income || "" }}</td>
          <td *ngIf="!row.isYear">{{ row.balance || "" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ms2">
    <h1 class="ntw">Net Worth Monitor</h1>
    <div class="ins1">
      <p class="p1" style="color: darkgreen">Income</p>
      <p class="p2" style="color: darkgreen">{{ incomTotal }}</p>
      <p class="p3" style="color: darkgreen">Asset</p>
      <p class="p4" style="color: darkgreen">{{ assets }}</p>
    </div>
    <div class="ins2">
      <p class="p1" style="color: rgb(167, 25, 25)">Credit</p>
      <p class="p2" style="color: rgb(167, 25, 25);">{{ totalExsisting }}</p>
      <p class="p3" style="color: darkgreen">Debit</p>
      <p class="p4" style="color: darkgreen">{{ totalAmount }}</p>
      <p class="p33" style="color: rgb(167, 25, 25)">mony account</p>
      <p class="p43" style="color: rgb(167, 25, 25);">{{ totalMonyAccount }}</p>
    </div>
    <div class="ins3">
      <div class="al1">
        <p>Total</p>
        <p>{{ MainTotal }}</p>
      </div>
    </div>
    <div class="ins4">
      <div class="al2">
        <p>Totalsss</p>
        <p>{{ MainTotalDebitCredit - totalMonyAccount - totalExsisting }}</p>
      </div>
    </div>
    <div class="ins5"></div>
    <div class="ins6">
      <div class="ins7">
        <p class="as1" style="color: rgb(167, 25, 25)">Expense</p>
        <p class="as2" style="color: rgb(167, 25, 25)">{{ expenseTotel }}</p>
      </div>
      <div class="al3">
        <p>Balance</p>
        <p>{{ MainBalance }}</p>
      </div>
      <div class="al5"></div>
      <div class="al4">
        <p>One Hand</p>
        <p>{{ OnHand }}</p>
      </div>
    </div>
  </div>
</section>
