<section class="sec">
  <header class="hd">
    <h1 class="db">CREDIT</h1>
    <button class="adb3" (click)="openDeactiveFile()">Deactive</button>
    <button class="adb" (click)="openForm(null, 'add', null)">+Add</button>
  </header>
  <div class="dal" *ngIf="openRecord">
    <div class="a2d">
      <button class="adb2" (click)="closeDeactiveFile()">close</button>
      <h1
        class="adb23"
        style="
          font-size: 20px;
          position: relative;
          margin-bottom: 50px;
          top: 10px;
          left: 150px;
        "
      >
        DEACTIVATED CREDITS
      </h1>
    </div>
    <span class="dactsl">Total: ₹{{ toatalCreditReturned }}</span>
    <div class="cn" *ngFor="let val of creditAccountsDeActive">
      <div class="btnsdvvv2">
        <span
          style="color: black"
          (click)="changeAllDataBothActiveDeactivePass()"
          >All</span
        >
        <span style="color: black" (click)="changeActivePass()">Acive</span>
        <span style="color: black" (click)="changeActive()">Deactive</span>
      </div>
      <div class="ins0" style="font-size: 10px; font-weight: 600">
        <table>
          <tr>
            <td>Name :</td>
            <td>{{ val.name }}</td>
          </tr>

          <tr>
            <td>Contact :</td>
            <td>{{ val.contact }}</td>
          </tr>
          <tr>
            <td>Address :</td>
            <td>{{ val.address }}</td>
          </tr>
        </table>
        <div class="bns1">
          <span
            style="color: black; margin-right: 5px"
            (click)="deleteCreditAccounts(val.id)"
            >Delete</span
          >
          <span
            style="color: black; margin-right: 35px"
            (click)="updateCreditAccounts(val.id, true)"
            >ActivateAccount</span
          >
        </div>
      </div>
      <div class="ins12" *ngFor="let v of val.credits">
        <div class="ins1">
          <table>
            <tr>
              <td>Amount :</td>
              <td style="color: rgb(121, 11, 71)">₹{{ v.amount }}</td>
            </tr>
            <tr>
              <td>Date :</td>
              <td>{{ v.date | date : "dd-MM-yyyy" }}</td>
            </tr>
            <tr>
              <td>Duration :</td>
              <td>{{ v.duration }}</td>
            </tr>
            <tr>
              <td>Status :</td>
              <td class="st">
                {{ v.status }}
              </td>
            </tr>
          </table>
        </div>
        <div class="ins2">
          <p
            style="
              color: rgb(0, 0, 0);
              font-size: 16px;
              margin: 1px;
              margin-left: -1px;
            "
          >
            Transactions
          </p>
          <mat-icon
            class="ic"
            style="font-size: 11px"
            (click)="openTransactionForm(v.id)"
            >create</mat-icon
          >
          <div class="tns" *ngIf="transactionPopup && formId == v.id">
            <h1>Add Transaction</h1>
            <mat-icon class="icn" (click)="closeTransactionForm()"
              >remove_red_eye</mat-icon
            >
            <form [formGroup]="trnsactionForm">
              <label>Returned Amount</label
              ><input formControlName="amount" /><br />
              <label>Date</label
              ><input
                type="date"
                [(ngModel)]="defaultDate"
                formControlName="date"
                value=""
              /><br />
              <button
                (click)="addTransaction(v.id)"
                (click)="closeTransactionForm()"
              >
                Add
              </button>
            </form>
          </div>
          <table class="trtb">
            <tr>
              <th>SI</th>
              <th>Returned Amount</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let p of v.transaction">
              <td>{{ p.index + 1 }}</td>
              <td>₹{{ p.amount }}</td>
              <td>{{ p.date | date : "dd-MM-yyyy" }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>₹{{ v.total }}</td>
              <td></td>
            </tr>
            <tr>
              <td>Existing</td>
              <td style="color: rgb(187, 12, 82)">₹{{ v.existing }}</td>
              <td></td>
            </tr>
          </table>
          <button class="da" *ngIf="v.active" (click)="deActiveFile(v.id)">
            Deactive
          </button>
          <button class="da" *ngIf="!v.active" (click)="activeFile(v.id)">
            Activate
          </button>
          <button class="da" (click)="deleteCredit(v.id)">Delete</button>
          <button class="da" (click)="openForm(v.id, 'edit', val.id)">
            Edit
          </button>
        </div>
      </div>
      <div
        style="color: black; width: 200px; font-size: 13px"
        *ngIf="val.credits.length > 1"
      >
        <label>Total</label>
        <p>{{ val.total }}</p>
        <label>Returned</label>
        <p>{{ val.return }}</p>
        <label>Existing</label>
        <p>{{ val.exist }}</p>
      </div>
    </div>
  </div>

  <!-- active -->

  <div class="fm" *ngIf="open">
    <div class="r">
      <button class="cls" (click)="closeForm()">close</button>
      <form [formGroup]="creditForm">
        <div class="imgc">
          <h1 *ngIf="mode == 'add'">Add Data</h1>
          <h1 *ngIf="mode == 'edit'">Edit Data</h1>
          <!-- <img
            *ngIf="setimageURL"
            class="im"
            [src]="setimageURL ? setimageURL : ''"
          /> -->
        </div>
        <!-- <input type="file" id="df" (change)="onSelect($event)" /><br /> -->
        <label>Credit Account</label>
        <select class="fmu" formControlName="creditAccount">
          <option value="">Select an Account</option>
          <!-- Default option -->
          <option *ngFor="let account of creditAccounts" [value]="account.id">
            {{ account.name }}
          </option></select
        ><br />
        <label>Amount</label><input class="fmu" formControlName="amount" />
      </form>
    </div>
    <form [formGroup]="creditForm">
      <div class="r" style="padding-top: 200px">
        <label>Date</label
        ><input
          type="date"
          class="fmu"
          formControlName="date"
          [(ngModel)]="defaultDate"
        /><br />
        <label>Duration</label
        ><input class="fmu" formControlName="duration" /><br />
        <label>Status</label><input class="fmu" formControlName="status" />
      </div>
    </form>
    <form [formGroup]="creditForm">
      <div class="r" style="padding-top: 200px">
        <button
          id="apply"
          *ngIf="mode == 'add'"
          (click)="saveCredit()"
          (click)="closeForm()"
        >
          apply
        </button>
        <button
          id="apply"
          *ngIf="mode == 'edit'"
          (click)="updateCredit()"
          (click)="closeForm()"
        >
          update
        </button>
      </div>
    </form>
  </div>
  <div class="in">
    <div class="accnt">
      <div class="lscrdts">
        <table>
          <tbody>
            <tr *ngFor="let val of creditAccountsActive let i=index">
              <td>{{i+1}}</td>
              <td>{{ val.name }}</td>
              <td>{{ val.exist }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Total</td>
              <td style="color: rgb(200, 14, 14);">{{totalExsisting}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <span>Add credit accounts</span>
      <span>
        <mat-icon class="ntic" (click)="openAccountForm()"
          >queue</mat-icon
        ></span
      >
      <div class="cfm1" *ngIf="openAccount">
        <form [formGroup]="creditAccountForm">
          <label>Name</label><input class="fmu" formControlName="name" /><br />
          <label>Contact</label
          ><input class="fmu" formControlName="contact" /><br />
          <label>Address</label
          ><input class="fmu" formControlName="address" /><br />
          <button class="svb" (click)="saveCreditAccounts()">save</button>
          <button class="svb" (click)="closeAccountForm()">close</button>
        </form>
      </div>
      <!-- <div class="acnms" *ngFor="let val of creditAccountsActive">
        <p>{{ val.name }}</p>
        <p>{{ val.contact }}</p>
        <p>{{ val.address }}</p>
      </div> -->
    </div>
    <div
      class="cn"
      *ngFor="let val of creditAccountsActive"
      [ngClass]="{ hdr: !val.active }"
    >
      <div class="btnsdvvv">
        <span
          style="color: black"
          (click)="changeAllDataBothActiveDeactivePass()"
          >All</span
        >
        <span style="color: black" (click)="changeActivePass()">Acive</span>
        <span style="color: black" (click)="changeActive()">Deactive</span>
      </div>
      <div class="ins0" style="font-size: 10px; font-weight: 600">
        <table>
          <tr>
            <td>Name :</td>
            <td>{{ val.name }}</td>
          </tr>

          <tr>
            <td>Contact :</td>
            <td>{{ val.contact }}</td>
          </tr>
          <tr>
            <td>Address :</td>
            <td>{{ val.address }}</td>
          </tr>
        </table>
        <div class="bns1">
          <span
            style="color: black; margin-right: 5px"
            (click)="deleteCreditAccounts(val.id)"
            >Delete</span
          >
          <span
            style="color: black; margin-right: 35px"
            (click)="updateCreditAccounts(val.id, false)"
            >DeactivateAccount</span
          >
        </div>
      </div>
      <div class="ins12" *ngFor="let v of val.credits">
        <div class="ins1">
          <table>
            <tr>
              <td>Amount :</td>
              <td style="color: rgb(121, 11, 71)">₹{{ v.amount }}</td>
            </tr>
            <tr>
              <td>Date :</td>
              <td>{{ v.date | date : "dd-MM-yyyy" }}</td>
            </tr>
            <tr>
              <td>Duration :</td>
              <td>{{ v.duration }}</td>
            </tr>
            <tr>
              <td>Status :</td>
              <td class="st" style="padding: 25px; font-size: 13px">
                {{ v.status }}
              </td>
            </tr>
          </table>
        </div>
        <div class="ins2">
          <p
            style="
              color: rgb(0, 0, 0);
              font-size: 16px;
              margin: 1px;
              margin-left: -1px;
            "
          >
            Transactions
          </p>
          <mat-icon
            class="ic"
            style="font-size: 11px"
            (click)="openTransactionForm(v.id)"
            >create</mat-icon
          >
          <div class="tns" *ngIf="transactionPopup && formId == v.id">
            <h1>Add Transaction</h1>
            <mat-icon class="icn" (click)="closeTransactionForm()"
              >remove_red_eye</mat-icon
            >
            <form [formGroup]="trnsactionForm">
              <label>Returned Amount</label
              ><input formControlName="amount" /><br />
              <label>Date</label
              ><input
                type="date"
                [(ngModel)]="defaultDate"
                formControlName="date"
              /><br />
              <button
                (click)="addTransaction(v.id)"
                (click)="closeTransactionForm()"
              >
                Add
              </button>
            </form>
          </div>
          <table class="trtb">
            <tr>
              <th>SI</th>
              <th>Returned Amount</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let p of v.transaction">
              <td>{{ p.index + 1 }}</td>
              <td>₹{{ p.amount }}</td>
              <td>{{ p.date | date : "dd-MM-yyyy" }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>₹{{ v.total }}</td>
              <td></td>
            </tr>
            <tr>
              <td>Existing</td>
              <td style="color: rgb(187, 12, 82)">₹{{ v.existing }}</td>
              <td></td>
            </tr>
          </table>
          <button class="da" *ngIf="v.active" (click)="deActiveFile(v.id)">
            Deactive
          </button>
          <button class="da" *ngIf="!v.active" (click)="activeFile(v.id)">
            Activate
          </button>
          <button class="da" (click)="deleteCredit(v.id)">Delete</button>
          <button class="da" (click)="openForm(v.id, 'edit', val.id)">
            Edit
          </button>
        </div>
      </div>
      <div
        style="color: black; width: 200px; font-size: 13px"
        *ngIf="val?.credits?.length > 1"
      >
        <label>Total</label>
        <p>{{ val.total }}</p>
        <label>Returned</label>
        <p>{{ val.return }}</p>
        <label>Existing</label>
        <p>{{ val.exist }}</p>
      </div>
    </div>
  </div>
  <!-- footer -->

  <footer class="ft">
    <div class="hdc">
      <h1>TOTAL {{ creditAccountsActive.length }} PERSONS TO GIVE MONY</h1>
    </div>
    <div class="bn">
      <div class="lst">
        <div>
          <div
            class="clnt"
            *ngFor="let val of creditAccountsActive"
            [ngStyle]="{ display: val.active == false ? 'none' : 'flex' }"
          >
            <img alt="image" src="{{ val.imageUrl }}" />
            <p>{{ val.name }}</p>
            <p>{{ val.exist }}</p>
          </div>
        </div>
        <div>
          <span>Existing</span>
          <span>{{ totalExsisting }}</span>
          <br />
          <span>Returend</span>
          <span>{{ retunedTotal }}</span
          ><br />
          <span>Total</span>
          <span>{{ totalCredit }}</span>
        </div>
      </div>
      <div class="lst2">
        <span>Current Income</span>
        <span>{{ currentIncome }}</span
        ><br />
        <span>Income + Credit</span>
        <span>{{ incomeWithCredit }}</span
        ><br />
        <span>Expense</span>
        <span>{{ expense }}</span
        ><br />
        <span>Balance</span>
        <span>{{ balance }}</span>
      </div>
    </div>
  </footer>
</section>
