/* You can add global styles to this file, and also import other style files */
*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    /* Adjusting the scrollbar width */
::-webkit-scrollbar {
    width: 4px; /* You can adjust this value to your desired width */
  }
  
  /* Changing the scrollbar track color (the area behind the thumb) */
  ::-webkit-scrollbar-track {
    background-color: #ad1212; /* Change this color to your desired color */
  }
  
  /* Changing the scrollbar thumb color (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    background-color: #cdc1c1; /* Change this color to your desired color */
  }
  
