.home {
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.nyImage {
  position: relative;
  top: 10px;
  height: 550px;
  width: 99%;
  left: 7px;
}
.qt {
  color: black;
}
.report {
  position: absolute;
  font-size: 110px;
  color: white;
  top: 250px;
  left: 320px;
  box-shadow: 2px 2px 5px black;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 435px 435px;
}
.grid1 {
  background-image: url("https://imageio.forbes.com/specials-images/imageserve/5fca87f3ce4ca55e8985a10a/People-meeting-and-discussing-growth-statistics-on-tablet-/960x0.jpg?format=jpg&width=960");
}
.grid2 {
  background-color: rgb(255, 255, 255);
  color: black;
  padding-left: 20px;
  padding-top: 70px;
}
.grid3 {
  padding-left: 30px;
}
.div3 {
  height: 400px;
  width: 95%;
  border-radius: 10px;
  padding: 10px;
  color: black;
}
.grid4 {
}
footer {
  width: 100%;
  height: 440px;
  background-color: rgb(44, 4, 33);
  overflow: hidden;
  padding-top: 10px;
  border-top: 1px solid rgb(149, 140, 122);
  border-bottom: 5px solid rgb(149, 140, 122);
}
.insite {
  position: relative;
  top: -540px;
  width: 700px;
  font-size: 13px;
  animation-name: move;
  animation-duration: 10s;
  position: relative;
  animation: move 40s ease-out infinite;
}
@keyframes move {
  0% {
    left: -60px;
  }
  100% {
    left: 1280px;
  }
}
.monthName {
  font-size: 60px;
  position: relative;
  left: 30px;
  color: rgb(183, 23, 23);
  box-shadow: 2px 2px 5px black;
  padding: 10px;
}
.year {
  font-size: 80px;
  position: relative;
  left: 50px;
}
.item {
  position: relative;
  width: 420px;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  text-align: center;
  padding-top: 14px;
  box-shadow: 2px 2px 5px black;
  margin: 20px;
  background-color: aqua;
  left: 20px;
  top: 10px;
  background-color: aliceblue;
}
.itemx {
  position: relative;
  left: 60px;
  top: 10px;
}
.total {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgb(160, 177, 176);
  top: 120px;
  justify-content: space-evenly;
  font-size: 18px;
  padding-top: 40px;
  border-radius: 50%;
  top: -50px;
  box-shadow: 5px 5px 8px rgb(95, 89, 89);
  z-index: 1200;
  border: 15px solid white;
  animation: expand 1.5s;
}
.hr{
  color: black;
  font-size: 22px;
  margin-bottom: 5px;
}
.ig{
  width: 900px;
  height: 100px;
  display: flex;
  margin-top: -15px;
  justify-content: space-evenly;
  margin-bottom: 8px;
  color: black;
}
.scv{
  width: 250px;
  height: 100px;
  background-color: rgb(187, 187, 200);
  padding: 10px;
}

.firstHalf {
  background-color: rgba(174, 233, 235, 0.7);
}
.secondTern {
  background-color: rgb(226, 186, 144, 0.7);
}
.warningTern {
  background-color: rgba(255, 113, 115, 0.7);
}
@keyframes expand {
  0% {
    width: 200px;
    height: 200px;
  }
  50% {
    width: 250px;
    height: 250px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
.income {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgb(154, 165, 139);
  top: 120px;
  justify-content: space-evenly;
  font-size: 18px;
  padding-top: 60px;
  border-radius: 50%;
  top: -270px;
  left: 240px;
  border: 15px solid white;
  box-shadow: 5px 5px 8px rgb(115, 109, 109);
  animation: expand 2.5s;
  color: white;
}
.income:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background-color: rgb(154, 165, 139, 0.8);
}
.Balence:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background-color: rgb(158, 157, 171, 0.8);
}
.total:hover {
  transform: scale(1.2);
  transition: 0.8s;
  background-color: rgb(160, 177, 176, 0.8);
}

.Balence {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgba(120, 119, 135, 0.9);
  top: 120px;
  justify-content: space-evenly;
  font-size: 18px;
  padding-top: 60px;
  border-radius: 50%;
  top: -290px;
  left: 90px;
  border: 15px solid white;
  box-shadow: 5px 5px 8px rgb(103, 98, 98);
  animation: expand 1.2s;
  color: white;
}

.gtotal {
  position: relative;
  left: 20px;
}
.gtotalx {
  position: relative;
  left: 30px;
  color: rgb(255, 255, 255);
}
.gincome {
  position: relative;
  left: 50px;
}
#lineChart {
  width: 100%;
  height: 400px;
}

.gincomeAmount {
  position: relative;
  left: 60px;
  color: rgb(255, 255, 255);
}
.totletDiv {
  position: relative;
  top: -340px;
  left: 480px;
  width: 600px;
  height: 300px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 15px 80px 15px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  color: white;
  box-shadow: 2px 2px 5px black;
  background-image: url("https://imageio.forbes.com/specials-images/imageserve/633a774a842d06ecd68286ff/The-5-Biggest-Business-Trends-For-2023/960x0.jpg?height=430&width=711&fit=bounds");
}
.exDiv {
  position: relative;
  width: 500px;
  height: 80%;
  overflow: scroll;
  border: 1px solid rgb(110, 101, 101);
  border-radius: 5px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLZxO22LzgiTpbO0hC4LjiDw2op1Po1tk8xSLL2q0LcGv3CWBJQ2tjyb_mnwDe5Jvxpdo&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  z-index: 1000;
}
.exDiv::-webkit-scrollbar {
  display: none;
}
.gBalence {
  position: relative;
  left: 80px;
}
.gBalenceAmount {
  position: relative;
  left: 90px;
  color: rgb(255, 255, 255);
}
.rctgl{
  padding-top: 10px;
  width: 250px;
  height: 50px;
  position: absolute;
  left: 670px;
  top: 275px;
  display: flex;
  justify-content: space-evenly;
}
.rct1 {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  box-shadow: 8px 8px  8px black inset;
}
.rct11 {
  width: 30px;
  height: 30px;
  background-color: rgb(47, 1, 1);
  position: relative;
  border-radius: 5px;
  box-shadow: 8px 8px  8px black inset;
  animation: expand1 1s 1s infinite;
  transition: 19s;
}
@keyframes  expand1 {
  0% {
 
    background-color: rgb(255, 255, 255);
  }
  50% {
  
    background-color: rgb(123, 18, 60);
  }
}

.rct2 {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 119, 0);
  border-radius: 5px;
  box-shadow: 8px 8px  8px black inset;
}
.rct22 {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 119, 0);
  position: relative;
  border-radius: 5px;
  box-shadow: 8px 8px  8px black inset;
  box-shadow: 8px 8px  8px black inset;
  animation: expand2 1s 1s infinite;
  transition: 19s;
}
@keyframes expand2 {
  0% {
 
    background-color: rgb(255, 255, 255);
  }
  50% {
  
    background-color: rgb(255, 98, 0);
  }
}
.rct3 {
  width: 30px;
  height: 30px;
  background-color: rgb(10, 86, 19);
  border-radius: 5px;
  box-shadow: 8px 8px  8px black inset;
}
.rct33 {
  width: 30px;
  height: 30px;
  background-color: rgb(10, 86, 19);
  position: relative;
  border-radius: 5px;
  box-shadow: 8px 8px  8px black inset;
  box-shadow: 8px 8px  8px black inset;
  animation: expand3 1s 1s infinite;
  transition: 19s;
}
@keyframes expand3 {
  0% {
 
    background-color: rgb(255, 255, 255);
  }
  50% {
  
    background-color: rgb(50, 144, 10);
  }
}
.rct4 {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  color: brown;
  padding-top: 8px;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 8px 8px  8px black inset;
}
.rct44 {
  width: 23px;

  height: 23px;
  background-color: rgb(255, 255, 255);
  color: brown;
  padding-top: 6px;
  font-size: 11px;
  position: relative;
  top: 4px;
  border-radius: 5px;
  box-shadow: 8px 8px  8px black inset;
}

