.monitor {
  width: 100%;
  min-height: 3260px;
  max-height: fit-content;
  display: block;
  color: black;
  background-color: rgb(241, 230, 230);
}
.selection {
  width: 100%;
  height: 120px;
  background-color: rgb(197, 188, 188);
  padding: 20px;
  padding-top: 20px;
  border-bottom: 5px solid rgb(138, 15, 15);
  box-shadow: 5px 5px 8px rgb(150, 143, 143);
}
.sl {
  width: 350px;
  height: 40px;
  border: none;
  box-shadow: 2px 2px 5px black;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}
.yrButton {
  width: 150px;
  height: 40px;
  border: none;
  box-shadow: 2px 2px 5px black;
  outline: none;
  font-size: 20px;
  margin-top: -90px;
  padding: 5px;
  position: absolute;
  margin-top: -39px;
  left: 900px;
  background-color: rgb(192, 31, 31);
  color: white;
  border-radius: 5px;
}
.printButton {
  width: 150px;
  height: 40px;
  border: none;
  box-shadow: 2px 2px 5px black;
  outline: none;
  font-size: 20px;
  margin-top: -90px;
  padding: 5px;
  position: absolute;
  margin-top: -39px;
  left: 1090px;
  background-color: rgb(13, 106, 15);
  color: white;
  border-radius: 5px;
}
.mg {
  position: absolute;
  margin-top: -19px;
  left: 500px;
}
.sl2 {
  width: 350px;
  height: 40px;
  border: none;
  box-shadow: 2px 2px 5px black;
  outline: none;
  font-size: 20px;
  margin-top: 20px;
  position: absolute;
  margin-top: -39px;
  left: 500px;
  border-radius: 5px;
}
.report {
  width: 80%;
  min-height: 600px;
  max-height: fit-content;
  box-shadow: 5px 5px 8px rgb(86, 81, 81);
  position: absolute;
  top: 220px;
  left: 130px;
  background-color: white;
}


.vDiv {
  padding-left: 25px;
}
.vDiv :nth-child(2) {
  text-align: center;
}
.vDiv table {
  width: 98%;
  border: 1px solid black;
  border-collapse: collapse;
}
.vDiv table td,
th {
  border: 1px solid black;
  height: 40px;
  text-align: center;
}
.vDiv table tr th:nth-child(2) {
  width: 400px;
}
.rp {
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: 70px;
  left: -30px;
}
.mn {
  position: relative;
  top: 80px;
  left: 320px;
  font-size: 15px;
}
.jn {
  top: 90px;
  left: 358px;
  font-size: 24px;
  position: relative;
}
.yr {
  position: relative;
  top: 90px;
  left: 400px;
  font-size: 24px;
}
.dg {
  position: relative;
  top: 40px;
  left: 800px;
}
.vDiv2 {
  height: fit-content;
}
.vDiv1 {
  height: fit-content;
  min-height: 200px;
}
.vDiv3 {
  height: fit-content;
  min-height: 200px;
}

/* year */

.yrSec {
  width: 80%;
  min-height: 600px;
  max-height: fit-content;
  box-shadow: 5px 5px 8px rgb(86, 81, 81);
  position: absolute;
  top: 220px;
  left: 130px;
  background-color: white;
}
