<section class="monitor">
  <div class="selection">
    <label style="font-size: 15px"
      >If you want Monthly report select month</label
    ><br />
    <select
      (change)="selectedMonth($event)"
      class="sl"
      [(ngModel)]="currentMonth"
    >
      <option *ngFor="let month of monthsList" [value]="month.name">
        {{ month.name }}
      </option>
    </select>

    <label class="mg">If you want Yearly report select month Select year</label
    ><br />
    <select (change)="onSelected($event)" [value]="currentYear" class="sl2">
      <option [value]="2021">2021</option>
      <option [value]="2022">2022</option>
      <option [value]="2023">2023</option>
      <option [value]="2024">2024</option>
      <option [value]="2025">2025</option></select
    ><button class="yrButton" (click)="getExpense(); getIncomes(); passId()">
      Open
    </button>
    <button class="printButton" (click)="generatePDF()">Print</button>
    <div class="gt">
      <div
        *ngIf="balenceJulay"
        class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 report"
        id="invoice"
        #invoice
      >
        <div class="vDiv vDiv1">
          <p class="mn">Monthly</p>
          <p class="rp">FCB REPORT</p>
          <span class="jn">{{
            monthSelected ? monthSelected : currentMonth
          }}</span
          ><span class="yr">{{ selection }}</span>
        </div>
        <div class="vDiv vDiv2">
          <table class="fstbl">
            <tr>
              <th>SI</th>
              <th>Category</th>
              <th>Expense</th>
              <th>Income</th>
              <th>Balance</th>
            </tr>
            <tr *ngFor="let fn of finalExpenseJulay; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ fn.name }}</td>
              <td>{{ fn.expense }}</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2" style="font-weight: 800">Totel</td>
              <td style="font-weight: 800">₹{{ totalExpJulay }}</td>
              <td style="font-weight: 800">₹{{ totalIncomeJulay }}</td>
              <td style="font-weight: 800">₹{{ balenceJulay }}</td>
            </tr>
          </table>
        </div>
        <div class="vDiv vDiv3">
          <p class="dg">Director General Fcb</p>
          <div style="float: left; position: relative; top: 50px">
            <canvasjs-chart
              [options]="chartOption"
              [styles]="{ width: '80%', height: '450px' }"
            ></canvasjs-chart>
          </div>
          <div class="pe" style="float: left">
            <canvasjs-chart
              [options]="chartOptions"
              [styles]="{ width: '100%', height: '450px' }"
            ></canvasjs-chart>
          </div>
        </div>
      </div>
    </div>

    <!-- year -->
    <main *ngIf="yearlyBalence" class="yrSec">
      <div class="vDiv vDiv1" #invoice>
        <p class="mn">Yearly</p>
        <p class="rp">FCB REPORT</p>
        <span class="jn"> Year</span><span class="yr">{{ selection }}</span>
      </div>
      <div class="vDiv vDiv2">
        <div class="addfm" *ngIf="yearlySelectedExpense.length > 0">
          <table>
            <tr>
              <th>SN:</th>
              <th>Category</th>
              <th>Expense</th>
            </tr>
            <tr *ngFor="let val of yearlySelectedExpense; let i = index">
              <td>{{ i + 1 }}</td>
              <td (click)="removeItem(i)">{{ val.name }}</td>
              <td>{{ val.expense }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Total</td>
              <td>{{ sum }}</td>
            </tr>
          </table>
          <button (click)="coloselection()">close</button>
        </div>
        <table class="mntbl">
          <tr>
            <th>SI</th>
            <th>Category</th>
            <th>Expense</th>
            <th>Income</th>
            <th>Balance</th>
          </tr>
          <tr *ngFor="let fn of yearlyExpenseFinal; let i = index">
            <td>{{ i + 1 }}</td>
            <td (click)="selectExpense(fn)">{{ fn.name }}</td>
            <td>{{ fn.expense }}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="font-weight: 800" colspan="2">Totel</td>
            <td style="font-weight: 800">₹{{ yearlyExpenseTotel }}</td>
            <td style="font-weight: 800">₹{{ yearlyIncomeTotel }}</td>
            <td style="font-weight: 800">₹{{ yearlyBalence }}</td>
          </tr>
        </table>
      </div>
      <div class="vDiv vDiv3">
        <p class="dg">Director General Fcb</p>
        <div>
          <canvasjs-chart
            [options]="chartOption2"
            [styles]="{ width: '70%', height: '550px' }"
          ></canvasjs-chart>
        </div>
        <div class="pe2">
          <canvasjs-chart
            [options]="chartOptions2"
            [styles]="{ width: '100%', height: '550px' }"
          ></canvasjs-chart>
        </div>
      </div>
    </main>
    <!-- allTime r -->
    <main *ngIf="yearlyBalence" class="yrSec">
      <div class="vDiv vDiv1" #invoice>
        <p class="mn">ALL TIME</p>
        <p class="rp">FCB REPORT</p>
      </div>
      <div class="vDiv vDiv2">
        <div class="addfm" *ngIf="yearlySelectedExpense.length > 0">
          <table>
            <tr>
              <th>SN:</th>
              <th>Category</th>
              <th>Expense</th>
            </tr>
            <tr *ngFor="let val of yearlySelectedExpense; let i = index">
              <td>{{ i + 1 }}</td>
              <td (click)="removeItem(i)">{{ val.name }}</td>
              <td>{{ val.expense }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Total</td>
              <td>{{ sum }}</td>
            </tr>
          </table>
          <button (click)="coloselection()">close</button>
        </div>
        <table class="mntbl">
          <tr>
            <th>SI</th>
            <th>Category</th>
            <th>Expense</th>
            <th>Income</th>
            <th>Balance</th>
          </tr>
          <tr *ngFor="let fn of allTimeExpense; let i = index">
            <td>{{ i + 1 }}</td>
            <td (click)="selectExpense(fn)">{{ fn.name }}</td>
            <td>{{ fn.expense }}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="font-weight: 800" colspan="2">Totel</td>
            <td style="font-weight: 800">₹{{ allTimeExpenseTotal }}</td>
            <td style="font-weight: 800">₹{{ allTimeIncome }}</td>
            <td style="font-weight: 800">₹{{ allTimeExpenseBalance }}</td>
          </tr>
        </table>
      </div>
      <div class="vDiv vDiv3">
        <p class="dg">Director General Fcb</p>
        <div>
          <canvasjs-chart
            [options]="chartOption2"
            [styles]="{ width: '70%', height: '550px' }"
          ></canvasjs-chart>
        </div>
        <div class="pe2">
          <canvasjs-chart
            [options]="chartOptions2"
            [styles]="{ width: '100%', height: '550px' }"
          ></canvasjs-chart>
        </div>
      </div>
    </main>
  </div>
</section>
