<div>
  <div class="exd">
    <div class="hd">
      <div class="hd1">
        <h1 style="font-size: 60px" class="fd">{{ expense.name }}</h1>
      </div>
      <div class="hd2">
        <form [formGroup]="expenseFormGroup">
          <label class="ex">Expense</label>
          <input
            class="np"
            type="number"
            required
            formControlName="expense"
            placeholder="Expense"
          />
          <label class="dt">Date</label>
          <input
            class="np2"
            type="date"
            required
            formControlName="date"
            [(ngModel)]="defaultDate"
          />
        </form>
        <button class="bte" (click)="addData()">Add</button>
      </div>
    </div>
    <section class="sc">
      <section class="filterSection">
        <form [formGroup]="dateFilterGroup">
          <label>From</label>
          <input type="date" class="np3" formControlName="lastDate" />
          <label>To</label>
          <input type="date" class="np3" formControlName="firstDate" />
        </form>
        <button class="np4" (click)="getFiltered(); getMapping()">
          Apply Filter
        </button>
        <button class="np4 np41" (click)="changValue(); getMapping()">
          Cancel
        </button>
      </section>
      <table>
        <tr>
          <th>SI</th>
          <th>Date</th>
          <th>Expense</th>
        </tr>
        <tr *ngFor="let fin of mapedData; let i = index">
          <td (click)="navigateToDetailsPage(fin.id)">{{ i + 1 }}</td>
          <td (click)="navigateToDetailsPage(fin.id)">{{ fin.day }}</td>
          <td (click)="navigateToDetailsPage(fin.id)">₹{{ fin.expense }}</td>
        </tr>
        <tr>
          <td
            colspan="2"
            style="font-weight: 800; background-color: rgb(186, 177, 177)"
          >
            Totel
          </td>

          <td
            style="
              font-weight: 800;
              background-color: rgb(186, 177, 177);
              color: rgb(199, 54, 54);
            "
          >
            ₹{{ !filter ? expenseTotel : filteredTotal }}
          </td>
        </tr>
      </table>
    </section>
  </div>
</div>
