<div class="lg">
  <h1>Register</h1>
  <main ></main>
  <form
    [formGroup]="registerFormGroupe"
  >
    <label>User Name</label>
    <input placeholder="User Name" formControlName="name" />
    <label class="sd">Password</label>
    <input class="ps" placeholder="Password" formControlName="password"  />
    <label class="sds">Profile Image</label>
    <input class="vc" type="file"  (change)="selectImage($event)"/>
    <button type="submit" (click)="upload()">Register</button>
  </form>
</div>
